@charset "utf-8";
*{font-family: sans-serif;}
.inner{width: 1200px; margin:0 auto;}
/* HEADER */
#header{height: 100px; border-bottom: 1px solid #999;}
#header>.inner{overflow: hidden;}
#header .logo{float: left; line-height: 100px; font-size: 24px;}
#header .gnb{float: right;}
#header .gnb>li{float: left; width: 100px;}
#header .gnb>li>a{display: block; height: 100px; line-height: 100px; text-align: center;}
#header .gnb>li>a:hover{background-color: #000; color: #fff;}
/* MAIN */
.main-banner{height: 700px; background: url(../img/husky/bg2.jpg) no-repeat fixed left top / cover }
/* background 축약형에서 size를 쓰려면 position을 무조건 명시해줘야하고, 이후에 /cover 이런식으로 쓸 수 있음 
.main-banner{height: 700px; background: url(../img/husky/bg2.jpg) no-repeat fixed; background-size: cover;}*/
.sub-visual{height: 1000px; background: url(../img/husky/21.jpg) no-repeat fixed; background-size: cover;}
.contents-container{padding-top: 20px; padding-bottom: 20px;}
.contents-container .img-list{width: 960px; margin: auto; overflow: hidden; padding-top: 80px;}
.contents-container .img-list>li{float: left;}
.contents-container .txt-list{width:960px; margin: auto; overflow: hidden;}
.contents-container .txt-list>li{float: left; width: 320px;}
.contents-container .txt-list>li span{display: block; text-align: center;}
.contents-container .txt-list>li span:nth-child(1){margin-top: 20px; margin-bottom: 4px;}
.contents-container .txt-list>li span:nth-child(2){font-weight: 700;}
.contents-container .txt-list>li span:nth-child(3){margin-bottom: 90px; font-size: 14px; color: #666; padding: 2px;}
/* FOOTER */
#footer{height: 50px; background-color: #000;}
#footer address{text-align: center; color:#fff; font-style: normal; line-height: 50px;}